<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dashboard</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 text-center">
        <img src="~/Images/Welcome.jpg"  class="img-fluid rounded-circle mb-4" style="max-width: 150px;">
        <h2>Welcome!</h2>
        <br />
        <h4>@ViewData["Username"]</h4>
        <p class="lead">"Thanks for Checking-In!!!!."</p>
    </div>
</body>
</html>
